body {
    font-family: Arial, Helvetica, sans-serif;
    background: #101820;    
}

header {
    background-color: #BA2A2B;
    padding: 20px;
    color: white;
    text-align: center;
}

main {
    width: 1200px;
    margin: 0 auto;
    color: #F2C763;
}

footer {
    color: #F2C763;
}

.otazka {
    color: #f2c763d0;
    background-color: #1a2633;
    padding: 1em;
    font-size: 1.2em;
    margin: 1em 0;
}

.odpoved {
    border-left: 8px solid #BA2A2B;
    padding-left: 20px;
}